/*fonts need to be changed: 
  h1 - sans-serif - headings
  h2 - sans-serif - body 
  h3 - ??
  h6 - serif - captions and section names
*/

h1 {
    text-align: left;
    font-family: 'monarcha',serif;
    font-weight: 400;
    font-style: normal;
    font-size: 230%;
    color: #000; 
    padding-left: 1px;
    line-height: 15%;
}

/* highlight font*/
h2 {
    font-family: 'futura-pt',sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 100%;
}

h3 {
    font-family: 'houschka-pro',sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 100%;
    line-height: 140%;
}

/*h6 is the body text*/
h6 {
    text-align: justify;
    font-family: 'degular',sans-serif;
    font-weight: 300;
    font-size: 90%;
    font-style: normal;
    color: #000; 
    line-height: 140%;
}

.column1 {
    padding-left: 15%;
    float: left;
}

.column2 {
    padding-right: 15%;
    float: right;
}

.column3 {
    padding-left: 25%;
    float: left;
}

.column4 {
    padding-right: 25%;
    float: right;
}