/*fonts need to be changed: 
  h1 - sans-serif - headings <link rel="stylesheet" href="https://use.typekit.net/vez5kon.css">
  h2 - serif - captions and section names <link rel="stylesheet" href="https://use.typekit.net/vez5kon.css">
  h3 - serif - smaller version of h2 <link rel="stylesheet" href="https://use.typekit.net/vez5kon.css">
  h6 - body??
*/
h1 {
    font-family: 'gitan-latin',sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 15%;
}

h2 {
    font-family: 'embury-text',serif;
    font-weight: 300;
    font-style: normal;
    font-size: 120%;
}

h3 {
    font-family: 'embury-text',serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
}

h6 {
    text-align: justify;
    font-family: 'degular',sans-serif;
    font-weight: 300;
    font-size: 90%;
    font-style: normal;
    color: #000; 
    line-height: 140%;
}


/*columns and positions*/
.column1 {
    padding-left: 15%;
    float: left;
}

.column2 {
    padding-right: 15%;
    float: right;
}

.column3 {
    padding-left: 25%;
    float: left;
}

.column4 {
    padding-right: 25%;
    float: right;
}

.footer {
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    float: left;
    text-align: center;
  }



/*some settings of the hyperlinks*/
a:link {
    color:black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
a:hover {
    color: rgb(158, 158, 158);
    background-color: transparent;
    text-decoration: none;
  }
