        .audioplayer
        {
            height: 2.5em; /* 40 */
            color: #fff;
            border: 1px solid #222;
            position: relative;
            z-index: 1;
            background: #333;
            width:15em;
        }


            /* mini mode (fallback) */

            .audioplayer-mini
            {
                width: 2.5em; /* 40 */
                margin: 0 auto;
            }


            /* player elements: play/pause and volume buttons, played/duration timers, progress bar of loaded/played */

            .audioplayer > div
            {
                position: absolute;
            }


            /* play/pause button */

            .audioplayer-playpause
            {
                width: 1.8em; /* 40 */
                height: 100%;
                text-align: left;
                text-indent: -9999px;
                cursor: pointer;
                z-index: 2;
                top: 0;
                left: 0;
            }
                .audioplayer:not(.audioplayer-mini) .audioplayer-playpause
                {
                    border-right: 1px solid #555;
                    border-right-color: rgba( 255, 255, 255, .1 );
                }
                .audioplayer-mini .audioplayer-playpause
                {
                    width: 100%;
                }
                .audioplayer-playpause:hover,
                .audioplayer-playpause:focus
                {
                    background-color: #222;
                }
                .audioplayer-playpause a
                {
                    display: block;
                }
                .audioplayer-stopped .audioplayer-playpause a
                {
                    width: 0;
                    height: 0;
                    border: 0.5em solid transparent; /* 8 */
                    border-right: none;
                    border-left-color: #fff;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -0.5em 0 0 -0.25em; /* 8 4 */
                }
                .audioplayer-playing .audioplayer-playpause a
                {
                    width: 0.75em; /* 12 */
                    height:0.75em; /* 12 */
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin: -0.375em 0 0 -0.375em; /* 6 */
                }
                    .audioplayer-playing .audioplayer-playpause a:before,
                    .audioplayer-playing .audioplayer-playpause a:after
                    {
                        width: 40%;
                        height: 100%;
                        background-color: #fff;
                        content: '';
                        position: absolute;
                        top: 0;
                    }
                    .audioplayer-playing .audioplayer-playpause a:before
                    {
                        left: 0;
                    }
                    .audioplayer-playing .audioplayer-playpause a:after
                    {
                        right: 0;
                    }


            /* timers  */

            .audioplayer-time
            {
                width:2em;
                height: 100%;
                line-height: 2.375em;
                text-align: center;
                z-index: 2;
                top: 0;
            }
                .audioplayer-time-current
                {
                    border-left: 1px solid #111;
                    border-left-color: rgba( 0, 0, 0, .25 );
                    left: 1.8em; 
                }
                .audioplayer-time-duration
                {
                    border-right: 1px solid #555;
                    border-right-color: rgba( 255, 255, 255, .1 );
                    right: 1.8em;
                }
                    .audioplayer-novolume .audioplayer-time-duration
                    {
                        border-right: 0;
                        right: 0;
                    }


            /* progress bar of loaded/played */

            .audioplayer-bar
            {
                height: 1em; /* 14 */
                background-color: #222;
                cursor: pointer;
                z-index: 1;
                top: 50%;
                right: 4.4em; /* 110 */
                left: 4.4em; /* 110 */
                margin-top: -0.438em; /* 7 */
            }
                .audioplayer-novolume .audioplayer-bar
                {
                    right: 4.375em; /* 70 */
                }
                .audioplayer-bar div
                {
                    width: 0em;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                .audioplayer-bar-loaded
                {
                    background-color: #333;
                    z-index: 1;
                }
                .audioplayer-bar-played
                {
                    background: #007fd1;
                    z-index: 2;
                }


            /* volume button */

            .audioplayer-volume
            {
                width: 1.8em; /* 40 */
                height: 100%;
                border-left: 1px solid #111;
                border-left-color: rgba( 0, 0, 0, .25 );
                text-align: left;
                text-indent: -9999px;
                cursor: pointer;
                z-index: 2;
                top: 0;
                right: 0;
            }
                .audioplayer-volume:hover,
                .audioplayer-volume:focus
                {
                    background-color: #222;
                }
                .audioplayer-volume-button
                {
                    width: 100%;
                    height: 100%;
                }
                    .audioplayer-volume-button a
                    {
                        width: 0.313em; /* 5 */
                        height: 0.375em; /* 6 */
                        background-color: #fff;
                        display: block;
                        position: relative;
                        z-index: 1;
                        top: 40%;
                        left: 35%;
                    }
                        .audioplayer-volume-button a:before,
                        .audioplayer-volume-button a:after
                        {
                            content: '';
                            position: absolute;
                        }
                        .audioplayer-volume-button a:before
                        {
                            width: 0;
                            height: 0;
                            border: 0.5em solid transparent; /* 8 */
                            border-left: none;
                            border-right-color: #fff;
                            z-index: 2;
                            top: 50%;
                            right: -0.25em;
                            margin-top: -0.5em; /* 8 */
                        }
                        .audioplayer:not(.audioplayer-muted) .audioplayer-volume-button a:after
                        {
                            /* "volume" icon by Nicolas Gallagher, http://nicolasgallagher.com/pure-css-gui-icons */
                            width: 0.313em; /* 5 */
                            height: 0.313em; /* 5 */
                            border: 0.25em double #fff; /* 4 */
                            border-width: 0.25em 0.25em 0 0; /* 4 */
                            left: 0.563em; /* 9 */
                            top: -0.063em; /* 1 */
                            -webkit-border-radius: 0 0.938em 0 0; /* 15 */
                            -moz-border-radius: 0 0.938em 0 0; /* 15 */
                            border-radius: 0 0.938em 0 0; /* 15 */
                            -webkit-transform: rotate( 45deg );
                            -moz-transform: rotate( 45deg );
                            -ms-transform: rotate( 45deg );
                            -o-transform: rotate( 45deg );
                            transform: rotate( 45deg );
                        }


                /* volume dropdown */

                .audioplayer-volume-adjust
                {
                    height: 6.25em; /* 100 */
                    cursor: default;
                    position: absolute;
                    left: 0;
                    right: -1px;
                    top: -9999px;
                    background: #333;
                }
                    .audioplayer-volume:not(:hover) .audioplayer-volume-adjust
                    {
                        opacity: 0;
                    }
                    .audioplayer-volume:hover .audioplayer-volume-adjust
                    {
                        top: auto;
                        bottom: 100%;
                    }
                    .audioplayer-volume-adjust > div
                    {
                        width: 40%;
                        height: 80%;
                        background-color: #222;
                        cursor: pointer;
                        position: relative;
                        z-index: 1;
                        margin: 30% auto 0;
                    }
                        .audioplayer-volume-adjust div div
                        {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background: #007fd1;
                        }
                .audioplayer-novolume .audioplayer-volume
                {
                    display: none;
                }


            /* CSS3 decorations */
            .audioplayer
            {
                -webkit-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
                -moz-box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
                box-shadow: inset 0 1px 0 rgba( 255, 255, 255, .15 ), 0 0 1.25em rgba( 0, 0, 0, .5 ); /* 20 */
            }
            .audioplayer-volume-adjust
            {
                -webkit-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
                -moz-box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
                box-shadow: -2px -2px 2px rgba( 0, 0, 0, .15 ), 2px -2px 2px rgba( 0, 0, 0, .15 );
            }
            .audioplayer-bar,
            .audioplayer-volume-adjust > div
            {
                -webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
                -moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
                box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
            }
            .audioplayer-volume-adjust div div,
            .audioplayer-bar-played
            {
                -webkit-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
                -moz-box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
                box-shadow: inset 0 0 5px rgba( 255, 255, 255, .5 );
            }
            .audioplayer-playpause,
            .audioplayer-volume a
            {
                -webkit-filter: drop-shadow( 1px 1px 0 #000 );
                -moz-filter: drop-shadow( 1px 1px 0 #000 );
                -ms-filter: drop-shadow( 1px 1px 0 #000 );
                -o-filter: drop-shadow( 1px 1px 0 #000 );
                filter: drop-shadow( 1px 1px 0 #000 );
            }
            .audioplayer,
            .audioplayer-volume-adjust
            {
                background: -webkit-gradient( linear, left top, left bottom, from( #444 ), to( #222 ) );
                background: -webkit-linear-gradient( top, #444, #222 );
                background: -moz-linear-gradient( top, #444, #222 );
                background: -ms-radial-gradient( top, #444, #222 );
                background: -o-linear-gradient( top, #444, #222 );
                background: linear-gradient( to bottom, #444, #222 );
            }
            .audioplayer-bar-played
            {
                background: -webkit-gradient( linear, left top, right top, from( #007fd1 ), to( #c600ff ) );
                background: -webkit-linear-gradient( left, #007fd1, #c600ff );
                background: -moz-linear-gradient( left, #007fd1, #c600ff );
                background: -ms-radial-gradient( left, #007fd1, #c600ff );
                background: -o-linear-gradient( left, #007fd1, #c600ff );
                background: linear-gradient( to right, #007fd1, #c600ff );
            }
            .audioplayer-volume-adjust div div
            {
                background: -webkit-gradient( linear, left bottom, left top, from( #007fd1 ), to( #c600ff ) );
                background: -webkit-linear-gradient( bottom, #007fd1, #c600ff );
                background: -moz-linear-gradient( bottom, #007fd1, #c600ff );
                background: -ms-radial-gradient( bottom, #007fd1, #c600ff );
                background: -o-linear-gradient( bottom, #007fd1, #c600ff );
                background: linear-gradient( to top, #007fd1, #c600ff );
            }
            .audioplayer-bar,
            .audioplayer-bar div,
            .audioplayer-volume-adjust div
            {
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
            }
            .audioplayer
            {
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
            }
            .audioplayer-volume-adjust
            {
                -webkit-border-top-left-radius: 2px;
                -webkit-border-top-right-radius: 2px;
                -moz-border-radius-topleft: 2px;
                -moz-border-radius-topright: 2px;
                border-top-left-radius: 2px;
                border-top-right-radius: 2px;
            }
            .audioplayer *,
            .audioplayer *:before,
            .audioplayer *:after
            {
                -webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
                -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
                -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
                -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
                transition: color .25s ease, background-color .25s ease, opacity .5s ease;
            }





/*=================================audio player above=========================*/

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUehpOqc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXehpOqc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOUuhp.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




/*=================================audio player above=========================*/

body{
    width:1250px;
    max-width: 100%
	text-align:center;
    margin:0 auto;
    font-size: 21px; 
}

.my-4 {
  margin-top: 1.5rem !important;
	margin-bottom: 20px;
}

 /* unvisited link */
a:link {
  color: #337AB7; /*blue*/
}

/* visited link */
a:visited {
  color: #337AB7;
}

/* mouse over link */
a:hover {
  text-decoration:underline;
  color: #f09228; /*orange*/
}

/* selected link */
a:active {
  color: #f09228;
} 


			.boxed {
				padding: 0.5em 2em 2em 2em;
				background-color: #F8F8F8;
	
				max-width: 90%;
				margin: 0 auto !important; 
				float: none !important; ;
			}           		
			.global_container {
				text-align: center;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.section {
                width: 100%;
                max-width: 100%;

                /*width: auto;*/
				/*max-width: 1200px;*/
				text-align: center;
				/*background: #e5e5e5;*/
			
			}      


        div.abstract {
        	padding: 1em 1em 1em 1em;
	      	background-color: #c6c6c6;
	      	max-width: 90%;
			margin: 0 auto !important; 
			float: none !important;
          }

			
			h1 {
				text-align: center;
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-weight: bold;
				font-size: 180%;
				color: #000;
				/*color: #478fcc; blue*/
				padding-bottom: 13px;
				padding-top: 5px;
			}
			.imgh {
				text-align: center;
			}
            h4 {
                text-align: left;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                /*font-family: Montserrat,sans-serif;*/
                font-weight: bold;
                font-size: 135%;
                color: #000;
                padding-left: 5px;
                padding-bottom: 1px;
                max-width: 90%;
                margin: 0 auto !important; 
                float: none !important; ;
            }            		
			.scale_img {
				width:100%;
  				max-width: 100%;
  				height: auto;
  				margin-left: auto;
				margin-right: auto;
				padding-top: 20px;
				padding-bottom: 20px;
				}

			.scale_img_65 {
				width:55%;
  				max-width: 55%;
				display: block;
  				height: auto;
				margin-left: auto;
				margin-right: auto;
				padding-top: 10px;
				padding-bottom: 15px;
				}
			.scale_img_85 {
				width:85%;
  				max-width: 85%;
				display: block;
  				height: auto;
				margin-left: auto;
				margin-right: auto;
				padding-top: 20px;
				padding-bottom: 20px;
				}
			
			li {
				 list-style: none;
			}
			.tag li::before {
					content: "\2600\FE0E"; /*# sun flower mark
					/*content: "\2605"; */
					color: #337AB7;

					display: inline-block;
					width: 1em;
					margin-left: -1.3em;
  					
  					/*font-size: 21px; */
                    font-size: 100%;
 				 	
 				 	padding-right: 1.1225em; 
					margin-top: 13px;
 				 	
 			 		position: relative;
  					top: 0.2em; 
 					line-height: 1.5em;
					padding-bottom: 5px; 					
				
			}
			.tag2 li::before {
					content: "\266B";
					/*content: "\2602 \FE0E"; /*# sun flower mark*/
					/*content: "\2605"; */ 	
					/*2618 good*/
					color: #337AB7;

					display: inline-block;
					width: 1em;
					margin-left: -1.3em;
  					
  					/*font-size: 21px; */
                    font-size: 100%;
 				 	
 				 	padding-right: 1.1225em; 
					margin-top: 13px;
 				 	
 			 		position: relative;
  					top: 0.2em; 
 					line-height: 1.5em;
					padding-bottom: 5px; 					
				
			}  
			.tag3 li::before {
					content: "\266A";
					/*content: "\2602 \FE0E"; /*# sun flower mark*/
					/*content: "\2605"; */ 	
					/*2618 good*/
					color: #337AB7;

					display: inline-block;
					width: 1em;
					margin-left: -1.3em;
  					
  					/*font-size: 21px; */
                    font-size: 100%;
 				 	
 				 	padding-right: 1.1225em; 
					margin-top: 13px;
 				 	
 			 		position: relative;
  					top: 0.2em; 
 					line-height: 1.5em;
					padding-bottom: 5px; 					
				
			}  
			
			p, ul {
				text-align: justify;
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				/*font-size: 18px;*/
                font-size: 86%;
				line-height: 1.5em;
				color: #474747;
			}
			.myButton {
				 /*background-color:#6fc7ee;*/
				background-color:#6fc7ee;
				-moz-border-radius:22px;
				-webkit-border-radius:22px;
				border-radius:22px;
				display:inline-block;
				cursor:pointer;
				/*color:#f09228;*/
				/*color:#ffffff;*/
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				font-weight: bold;
				/*font-size:20px;*/
                font-size:95%;
				letter-spacing: 0.1em;
				padding:10px 40px;
				text-decoration:none;
			}
			.myButton:hover {
				/*background-color:#478fcc;*/
				background-color:#308ab0;
				color:#f09228;
				
			} 
			label {
				margin: auto;
				text-align: center;
				margin-top: 0.5em
			}
			label:hover {
			  text-decoration:underline;
			  color: #f09228; /*orange*/
			}
			label:visited {
			  /*text-decoration:underline;*/
			  color: #f09228; /*orange*/
			}			

			table {
               /* style="table-layout: fixed;";*/
				text-align: justify;
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size:86%;
 				/*font-size:18px;*/
				}

			footer {
				margin: auto;
				text-align: center;
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				/*padding-top: 0.5em;*/
	            position: relative;
	            z-index: 1;
	            width:16em;  
			}

            iframe {
                width: 50vw; 
                height: 28.125vw; /* 100/56.25 = 560/315 = 1.778 */
            }

      
input[type=checkbox] {
}

input[type=checkbox]:checked ~ .abstract  {
  display: none;
}


/* 把所有case的media 全部写上去 */

/*1. 比1250px大比较多的屏幕就是默认的1250最大的操作，再小也可以到1250来。*/
/*2. 1250px 附近的应该缩放一下，不然字体看起来太大，不舒服。*/
/*3. 1000px 附近的进入第3种状态*/


@media screen and (max-width: 1300px){
    body{
        width:1000px;
        font-size:16px;
    }
    h1 {
        font-size: 210%;
        padding-bottom: 1px;
        padding-top: 5px;
    }
    h4 {
        font-size: 150%;
    } 
    .myButton {
        font-size:100%;
    }
    p, ul{
        font-size: 100%;
    }
}

@media screen and (max-width: 1000px){
    body{
        width:900px;
        font-size:15px;
    }
    h1 {
        font-size: 230%;
        padding-bottom: 1px;
        padding-top: 5px;
    }
    h4 {
        font-size: 180%;
    } 
    .myButton {
        font-size:120%;
    }
    p, ul{
        font-size: 120%;
    }  
}


@media screen and (max-width: 900px){
    body{
        width:100%;
        font-size:13px;
    }
    h1 {
        font-size: 230%;
        padding-bottom: 1px;
        padding-top: 5px;
    }
    h4 {
        font-size: 180%;
    } 
    .myButton {
        font-size:120%;
    }
    p, ul{
        font-size: 120%;
    }
    } 
}

/* 222 */
@media screen and (max-width: 800px){
    body{
        width:100%;
        font-size:11px;
    }
    .boxed {
    max-width: 98%;
    }   

    h1 {
        font-size: 230%;
        padding-bottom: 1px;
        padding-top: 5px;
    }
    h4 {
        font-size: 180%;
    } 
    .myButton {
        font-size:120%;
    }
    p, ul{
        font-size: 120%;
    }
    .tag li::before {
            margin-left: -2.3em;                   
    }      
    .tag2 li::before {
            margin-left: -2.3em;                   
    }     
    .tag3 li::before {
            margin-left: -2.3em;                   
    }  
}
@media screen and (max-width: 700px){
    body{
        width:100%;
        font-size:10px;
    }
    .boxed {
    max-width: 98%;
    }

    h1 {
        font-size: 230%;
        padding-bottom: 1px;
        padding-top: 5px;
    }
    h4 {
        font-size: 180%;
    } 
    .myButton {
        font-size:120%;
    }
    p, ul{
        font-size: 120%;
    }
    .tag li::before {
            margin-left: -3.3em;                   
    }      
    .tag2 li::before {
            margin-left: -3.3em;                   
    }     
    .tag3 li::before {
            margin-left: -3.3em;                   
    }    
}

/* smallest size?111 */
@media screen and (max-width: 600px){
    body{
        width:100%;
        font-size:8px;
    }
    .boxed {
    max-width: 100%;
    }

    h1 {
        font-size: 270%;
        padding-bottom: 1px;
        padding-top: 5px;
    }
    h4 {
        font-size: 180%;
    } 
    .myButton {
        font-size:120%;
    }
    p, ul{
        font-size: 120%;
        /*line-height: 2em;*/
    }
    .tag li::before {
            margin-left: -4.3em;                   
    }      
    .tag2 li::before {
            margin-left: -4.3em;                   
    }     
    .tag3 li::before {
            margin-left: -4.3em;                   
    }       
}

@media screen and (max-width: 500px){
    body{
        width:100%;
        font-size:6px;
    }
    .boxed {
    max-width: 100%;
    }

    h1 {
        font-size: 350%;
        padding-bottom: 1px;
        padding-top: 5px;
    }
    h4 {
        font-size: 250%;
    } 
    .myButton {
        font-size:120%;
    }
}

@media screen and (max-width: 400px){
    body{
        width:100%;
        font-size:6px;
    }
    .boxed {
    max-width: 100%;
    }

    h1 {
        font-size: 350%;
        padding-bottom: 1px;
        padding-top: 5px;
    }
    h4 {
        font-size: 250%;
    } 
    .myButton {
        font-size:120%;
    }
}

